@import url(/css/style.css);
@import url(/css/utilities-2.css);
@import url(/pages/Cart/cart.css);
@import url(/pages/Authentication/login/login.css);
@import url(/pages/Authentication/signup/signup.css);
@import url(/pages/Authentication/logout/logout.css);
@import url(/pages/Wishlist/wishlist.css);
@import url(/pages/Products/products.css);

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ecom-bg-color:#f1f2f7;
    --checkoutbox-bg-color:#cce5eb;
    accent-color: var(--solid-black-color);
}

/* card style modification for e-commerce */
.card-body{
    background-color: var(--tertiary-text-color);
    color: var(--solid-black-color);
}

.card-footer{
    padding: 10px;
    background-color: var(--checkoutbox-bg-color);
}

/* button style modification for e-commerce */
.btn-solid-primary{
    background-color: var(--solid-black-color);
    color: var(--tertiary-text-color);
}

.btn-solid-primary:hover{
    background-color: var(--light-yellow-color);
    color: var(--solid-black-color);
    border: 1px solid var(--solid-black-color);
}

.btn-solid-secondary{
    background-color: var(--tertiary-text-color);
    color: var(--solid-black-color);
    border: 1px solid var(--solid-black-color);
}

.btn-solid-secondary:hover{
    background-color: var(--solid-black-color);
    color: var(--tertiary-text-color);
}

.btn-solid-secondary:hover .btn-icon-img{
    background-color: var(--light-yellow-color);
}