@import url(/css/style.css);
@import url(/css/utilities-2.css);
@import url(/pages/Cart/cart.css);
@import url(/pages/Authentication/login/login.css);
@import url(/pages/Authentication/signup/signup.css);
@import url(/pages/Authentication/logout/logout.css);

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ecom-bg-color:#f1f2f7;
    --checkoutbox-bg-color:#cce5eb;
}